body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
  }
  
  header {
    border-bottom: solid 2px rgb(68, 0, 107);
    padding: 20px;
    font-size: 32px;
    color: rgb(3, 67, 126);
  }
  
  section {
    background: rgb(57, 3, 116);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }

  img {
    height: 200px;
  }
  section {
    background: rgb(58, 21, 99);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .chamada {
    background: rgb(51, 0, 170);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  
  .categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
}
.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid rgb(247, 4, 137);
}

.categoria h2 {
  color: rgb(42, 122, 228);
}
  }