body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(137, 11, 168);
    padding: 20px;
    font-size: 32px;
    color: rgb(201, 40, 233);
}

section {
    background: rgb(53, 4, 105);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}